<% if !@score.nil? %>
  <p id="saved-score"><%=@score%></p>
  <p id="saved-session"><%=@session%></p>
<%end%>
<div class="alert alert-success" role="alert" style="visibility:hidden">Partida Guardada!</div>
<button id="savebutton" type="submit" class="btn btn-primary"> Guardar Partida </button>
<button id="reloadbutton" type="submit" class="btn btn-primary"> Reiniciar </button>
<button id="backbutton" type="submit" class="btn btn-primary"> Atrás </button>
<a href="#ranking" class="btn btn-primary">Ranking</a>
<br>
<br>
<canvas id="canvasBg" width="800" height="600"></canvas>

<div id="overlapping">
    <canvas id="canvasEntities" width="800" height="600"></canvas>
</div>
<script src="/assets/game2.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">Mejores Puntuaciones</div>
  <table class="table" id="ranking">
  	<thead>
  		<tr>
  			<th> #</th>
  			<th> Usuario </th>
  			<th> Puntuación </th>
  		</tr>
  	</thead>
  	<tbody>
  	<% @leaderboard.each_with_index do |l , index| %>
  		<tr>
  			<th scope="row"><%=index+1%></th>
  			<td> <%= l["email"] %> </td>
  			<td> <%= l["score"] %> </td>
  		</tr>
  	<%end%>
  	</tbody>
  </table>
</div>

