<!DOCTYPE html>
<html>
<head>
  <title>Vacileo</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbr-brand" href="/">Vacileo</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!--visit http://getbootstrap.com/examples/navbar-fixed-top/# to see rest -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<%if user_signed_in? %>
						<p>Bienvenido, <strong><%=current_user.email%></strong></p>
					
						<%= link_to "Cerrar Sesión",destroy_user_session_path, :method => :delete %>
				<%end%>
			</ul>
		</div>
	</div>
</nav>

<%= yield %>

</body>
</html>
